PROJECT/assets/asphalt-texture.psd filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
PROJECT/prototipos/patinete/Assets/3D_MODELS/player_yonky.fbx filter=lfs diff=lfs merge=lfs -text
